@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Joan&family=Lobster&family=Macondo&family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&family=Source+Code+Pro:wght@600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --blueDark: #06283d;
  --blueDarkLight: #256985;
  --blueLight: #47b5ff;
  --blue: #bbb2eb;
  --white: #deecf1;
}

body {
  background-color: var(--white);
  color: white;
}

h1 {
  margin-top: 15px;
  text-align: center;
  color: var(--blueDark);
}
h2 {
  font-size: 1em;
  text-align: center;
  height: 9vh;
  margin-top: 5px;
}

#main-container {
  /* padding: 2rem; */
  margin: 0 auto;

  width: 90%;
}
.movies-container {
  width: 100%;
}

.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.theMovie {
  background-color: var(--blueDark);
  width: 200px;

  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 20px 15px;
}

.theMovie:hover {
  box-shadow: 0 0 1px 10px var(--blueDarkLight);
}
.theMovieImg {
  width: 100%;

  height: 75%;
  object-fit: contain;
}
.theMovieImg:hover {
  cursor: pointer;
}
footer {
  background-color: var(--blueDark);
  font-size: 40px;
  color: white;
  text-align: center;
}

#next {
  cursor: pointer;
}
#previous {
  cursor: pointer;
}

.movieRate {
  display: flex;
  justify-content: space-around;
  background-color: var(--blueDark);
  height: 2rem;
}

.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
/* i {
  color: yellow;
} */

i.favourite {
  padding:0.2rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--blue);
}
i.yes {
  color: red;
}

/* HEADER */

/* NAV BAR------------------------------------------------------------------------------------------------- */
/* navbar regular css start */

.movie-navbar {
  background-color: var(--blueDark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  /* width: 100%; */
}

.movieLogo {
  padding:0.5rem;
  font-size: 15px;
  font-size: 20px;
  font-weight: 800;
  /* text-transform: uppercase; */
  color: var(--white);
  text-decoration: none;
}
.movie-navbar ul {
  /* background-color: yellow; */

  display: flex;
}
.movie-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;

  /* text-transform: uppercase; */
}
.movie-navbar ul li a:hover {
  /* background: rgba(255, 255, 255, 0.1); */
  background-color: var(--blueDarkLight);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid var(--blueLight);

  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

#search {
  margin: 20px;
}
.search-area {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*BREAK POINTS*/

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  #genresOption{
    margin-top:0.5rem;
    width:10rem;
  }
  #search {
    margin: 0.3rem;
  }


  .modal-container {
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: green; */
    width: 100%;
  }
  .modal-image-container {
    flex: 100%;
  }
  .modal-movie-text {
    flex: 100%;
  }
  .search-area {
    flex-direction: column;
  }
  #main-container {
    min-width: 100%;
    /* background-color: #47b5ff; */
  }

  .modal-text {
    flex-basis: 60%;
    width: 100%;
  }

  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .movie-navbar {
    min-height: 60px;
  }
  .movie-navbar ul {
    margin: 0 auto;
    margin-top: 5px;
    position: absolute;
    min-width: 100%;
    height: calc(100vh - 60px);

    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /*ovde*/
    /* background-color: rgba(0, 0, 0, 0.75); */
    background-color: var(--blueDark);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .movie-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .movie-navbar ul li a {
    padding: 15px;
  }
  .movie-navbar ul li a:hover {
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: var(--blueDarkLight);
  }
  .movie-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  /* navbar css for mobile end */
}
/* mobile breakpoint end */

/* BREAK POINTS */
/*For extremely small screen devices (595px and below)*/

/*NOVA STRANICA********************************************************************************************/
.modal-header {
  font-size: 2em;
  text-transform: uppercase;
  padding: 0.7rem;
  height: 4rem;
  text-align: center;

  /* color: white; */
}

.modal-header h2 {
  color: black;
  margin-bottom: 20px;
  color: var(--blueDark);
}
#main-modal-container {
  /* width: 80%; */
  margin: 0 auto;
  background-color: var(--white);
}

.modal-container {
  color: black;
  border: 2px solid var(--blue);
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding: 20px;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.modal-container > p {
  font-size: 25pt;
}
/*flex 1*/
.modal-image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  padding: 20px;
}
.modal-movie-image-container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--blue);
  flex: 30%;
  margin: 0 auto;
  width: 15rem;
}
.modal-movie-image {
  width: 100%;
}
/*flex 2*/

.modal-movie-text {
  margin: 0 auto;
  background-color: var(--blue);
  flex: 30%;

  padding: 20px;
  border-radius: 10px;
}

.modal-actors-container {
  background-color: var(--blue);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 1.5rem; */
  border-radius: 10px;

  flex: 30%;
  /* background-color: darkgoldenrod; */
  cursor: pointer;
}
.modal-actors-container h2 {
  flex: 100%;
  padding: 1rem;
}

/* .glumac-container{
border-radius:5px;
} */
.actor-image {
  border-radius: 10px;
  width: 5rem;
  /* height: 75%; */
  object-fit: contain;
}

.actor-name {
  font-size: 14px;
  width: 5rem;
  padding: 0.5rem;
}
.modal-footer {
  justify-content: space-between;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding: 0.7rem;
  height: 3rem;
  color: white;
}

/* @media screen and (max-width: 768px) {
  .navbar,
  .modal-container {
    flex-direction: column;
  }
} */

@media screen and (max-width: 900px) {
}

.btn {
  position: fixed;
  bottom: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--blue);
  /* background-color: rgb(86 86 86 / 36%); */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 1rem;
}
/*ovo mora da se smanji kada se promeni rezolucija*/
#btnTop {
  right: 10px;
}
#btnBack {
  left: 10px;
}

.btn:hover {
  background-color: var(--blueDark);
}

.modal-movie-image-container p {
  background-color: var(--blueDark);
 color:var(--white);
  padding: 0.2rem;
}

.genres {
  font-weight: bold;
  color: var(--blue);
}
.genreHeader {
  text-transform: uppercase;
}
/* .favourite{
  font-size: 25px;
  color:red;

} */

@media only screen and (max-width: 595px) {
  body {
    background-color: aqua;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  body {
    background-color: blue;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  body {
    background-color: yellow;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  body {
    background-color: coral;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: deeppink;
  }
}
